fastapi
uvicorn[standard]
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy
pymysql
motor
aioredis
celery[redis]
requests
httpx
python-multipart
langchain
langchain-openai
pika
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
prometheus-client
